@*@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@





@{
    ViewData["Title"] = "Home Page";
}
@model AssignmentALM.Models.ViewModels.HomeViewModel
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @foreach (var customer in Model.Customers)
    {
        <div>CustomerID: @customer.CustomerNumber Name: @customer.FirstName @customer.LastName</div>
        @foreach (var account in customer.Accounts)
        {
            <div>AccountID: @account.AccountNumber Balance: @account.Balance</div>
        }
    }
</div>
