



@{
    ViewData["Title"] = "Home Page";
}
@model AssignmentALM.Models.ViewModels.HomeViewModel
    <div >
        <h1 class="display-4">Welcome Emran Online Banking 2019</h1>
        <div class="card">
            <div class="card bg-success mb-lg-5" style="font-size:x-large" >
                @foreach (var customer in Model.Customers)
                {

                    <div><h2>CustomerID: @customer.CustomerNumber</h2>
                         <h2>Name: @customer.FirstName  @customer.LastName</h2>
                </div>
                    <div class="card">
                        @foreach (var account in customer.Accounts)
                        {
                            <div>Account Number: @account.AccountNumber Balance: @account.Balance</div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>